<%= render "filter_form" %>
<div class="mb-3 d-flex align-items-end justify-content-between">
  <%= link_to '表示結果をCSVダウンロード', hash_tag_csv_download_path(@search_params), class: 'btn btn-secondary csv-download' %>
  <span>集計期間：<%= @aggregated_from %>&nbsp;&nbsp;〜&nbsp;&nbsp;<%= @aggregated_to %></span>
</div>

<div class="card">
  <div class="table-responsive table-hover">
    <table class="table align-items-center">
      <thead style="border-radius:6px;">
        <tr>
          <th scope="col" style="width: 20%;">ハッシュタグ</th>
          <th scope="col" style="width: 60%;">投稿サンプル</th>
          <th scope="col" style="width: 10%;">投稿数</th>
          <th scope="col" style="width: 10%;">反応数</th>
        </tr>
      </thead>
      <tbody>
        <%= render @hash_tags %>
      </tbody>
    </table>
  </div>
</div>

<%= render 'layouts/pagination_link', records: @hash_tags %>
