<div class="form-group row mx-0 d-flex align-items-center">
  <div class="col-3 text-right p-0">
    <p class="Instagram_btn heatmap-sns-labels mb-0">Instagram</p>
  </div>
  <div class="col-9 d-flex align-items-center">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input Instagram-checkall" id="customCheck2">
      <label class="custom-control-label" for="customCheck2">全選択</label>
    </div>

    <% post_type_selected = params[:media_post_types]&.include?("Instagram-feed") %>
    <div class='btn btn-outline-Instagram btn-sns-form Instagram-feed Instagram-sns-btn' data-toggle="button" aria-pressed="<%= post_type_selected %>">
      <input type="checkbox" name="media_post_types[]" value='Instagram-feed' style="width: 0px" class="sns-checkbox" <%= post_type_selected ? 'checked' : '' %>/>
      <i class="fas fa-file-alt m-0"></i><span class="mx-1">フィード</span>
    </div>
    <% post_type_selected = params[:media_post_types]&.include?("Instagram-reel") %>
    <div class='btn btn-outline-Instagram btn-sns-form Instagram-reel Instagram-sns-btn' data-toggle="button" aria-pressed="<%= post_type_selected %>">
      <input type="checkbox" name="media_post_types[]" value='Instagram-reel' style="width: 0px" class="sns-checkbox" <%= post_type_selected ? 'checked' : '' %>/>
      <i class="fas fa-video m-0"></i><span class="mx-1">リール</span>
    </div>
    <% post_type_selected = params[:media_post_types]&.include?("Instagram-story") %>
    <div class='btn btn-outline-Instagram btn-sns-form Instagram-story Instagram-sns-btn' data-toggle="button" aria-pressed="<%= post_type_selected %>">
      <input type="checkbox" name="media_post_types[]" value='Instagram-story' style="width: 0px" class="sns-checkbox" <%= post_type_selected ? 'checked' : '' %>/>
      <i class="fas fa-camera m-0"></i><span class="mx-1">ストーリー</span>
    </div>
  </div>
</div>
