<div class="card-header">
  <div class="form-group row mx-0 d-flex align-items-center">
    <h5 class="h3 mb-0"><%= graph_title %></h5>
    <%= form_with  url: controller == "account" ? account_path : brand_path, method: :get, class:"container-fluid clearfix" do |form| %>
      <div class="row">
        <%= label_tag :month, "月：", class:"month_week_labels col-4 mt-1"%>
        <select class="col-2 form-control form-control-sm" id="<%= graph_name %>_month" name="<%= graph_name %>_month">
          <% Brand.month_lists.each do |month_list|%>
          <option value="<%= month_list[:value] %>"
            <% if params["#{graph_name}_month"] %>
              <%= params["#{graph_name}_month"] == month_list[:value] ? 'selected' : '' %>>
            <% else %>
              <%= month_list[:value] == "#{Date.today.year}-#{Date.today.month}" ? 'selected' : '' %>>
            <% end %>
            <%= month_list[:str] %>
          </option>
          <% end %>
        </select>
        <div class="col-6 text-right">
          <%= form.submit "絞り込み", class: "btn btn-primary btn-filter-form", name: nil %>
        </div>
      </div>
    <% end %>
  </div>
</div>
