<!-- カルーセル表示 -->
<div class="card" id="card-carousel-with-detail">
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <% post.post_contents.each_with_index do |post_content,index| %>
            <%= content_tag(:li, '', data: {target: "#carouselIndicators", slide_to: index},class: (if index==0 then 'active' end)) %>
            <% end %>
        </ol>
        <div class="carousel-inner card-img-top bg-default" id="carousel-inner">
            <% post.post_contents.each_with_index do |post_content,index| %>
            <%= content_tag(:div,'', style: '' ,class: "carousel-item text-center #{if index==0 then 'active' end}") do%>
            <%= image_tag post_content.content_url, {class: "w-100 h-100", style: 'object-fit: contain;'} %>
            <% end %>
            <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="card-body">
        <h3 class="card-title">詳細情報</h3>
        <div class="card-text">
            <dl>
                <dt>アカウント名</dt>
                <dd><%= post.account.name %></dd>
                <dt>企業名</dt>
                <dd><%= post.account.company.name %></dd>
                <dt>メディア</dt>
                <dd><%= link_to post.media, posts_path(media: post.media), class: "#{post.media}_btn btn btn-sm" %></dd>
                <dt>投稿タイプ</dt>
                <dd><%= display_post_type post.post_type, posts_path(post_type: post.post_type) %></dd>
                <dt>いいね数</dt>
                <dd><%= post.like_count %></dd>
                <% if post.media=="Twitter" then %>
                <dt>リツイート数</dt>
                <dd><%= post.retweet_count %></dd>
                <% end %>
                <dt>投稿日時</dt>
                <dd><%= l(post.posted_at) %></dd>
                <% if post.redirect_url&.include?('http') %>
                <dt>URL</dt>
                <dd><%= external_link_to post.redirect_url, post.redirect_url, class: 'external-link' %></dd>
                <% end %>
                <% if post.landing_page_url&.include?('http') %>
                <dt>URL(リダイレクト先)</dt>
                <dd>
                    <% external_link_to post.landing_page_url, post.landing_page_url, class: 'external-link' %>
                </dd>
                <% end %>
                <% if post.hash_tags.present? %>
                <dt>ハッシュタグ</dt>
                <dd>
                    <% post.hash_tags.each do |hash_tag| %>
                    <%= link_to hash_tag.name, posts_path(search_hash_tag: hash_tag.name), {class: 'badge badge-pill badge-lg badge-primary my-1'} %>
                    <% end %>
                </dd>
                <% end %>
            </dl>
        </div>
    </div>
</div>
