<div class="card-body">
  <div class="row mb-2 justify-content-around p-2">
    <div class="col-xl-5 mb-4">
      <%= render 'abs_rel_graph', graph_id: 'brandlift1', label_abs: '値', label_rel: '%', graph_title: 'Googleトレンド',
        brand: brand, chart_data_abs: brand.brandlift_per_date(@brandlift_params, 2), chart_data_rel: brand.brandlift_per_date(@brandlift_params, 2, relative: true), posts_per_date: brand.posts_per_date(@brandlift_params),
        talk_posts_per_date: brand.talk_posts_per_date(@brandlift_params), type: 'line' %>
    </div>
    <div class="col-xl-5 mb-4">
      <%= render 'abs_rel_graph', graph_id: 'brandlift2', label_abs: '値', label_rel: '%', graph_title: 'Googleトレンド増減',
        brand: brand, chart_data_abs: brand.brandlift_per_date(@brandlift_params, 2, increment: true), chart_data_rel: brand.brandlift_per_date(@brandlift_params, 2, relative: true, increment: true), posts_per_date: brand.posts_per_date(@brandlift_params),
        talk_posts_per_date: brand.talk_posts_per_date(@brandlift_params), type: 'bar' %>
    </div>
  </div>

  <div class="row mb-2 justify-content-around p-2">
    <div class="col-xl-5 mb-4">
      <%= render 'abs_rel_graph', graph_id: 'brandlift3', label_abs: '人', label_rel: '%', graph_title: 'LINE 友達数',
        brand: brand, chart_data_abs: brand.brandlift_per_date(@brandlift_params, 4), chart_data_rel: brand.brandlift_per_date(@brandlift_params, 4, relative: true), posts_per_date: brand.posts_per_date(@brandlift_params),
        talk_posts_per_date: brand.talk_posts_per_date(@brandlift_params), type: 'line' %>
    </div>
    <div class="col-xl-5 mb-4">
      <%= render 'abs_rel_graph', graph_id: 'brandlift4', label_abs: '人', label_rel: '%', graph_title: 'LINE 友達数増減',
        brand: brand, chart_data_abs: brand.brandlift_per_date(@brandlift_params, 4, increment: true), chart_data_rel: brand.brandlift_per_date(@brandlift_params, 4, relative: true, increment: true), posts_per_date: brand.posts_per_date(@brandlift_params),
        talk_posts_per_date: brand.talk_posts_per_date(@brandlift_params), type: 'bar' %>
    </div>
  </div>

  <div class="row mb-2 justify-content-around p-2">
    <div class="col-xl-5 mb-4">
      <%= render 'abs_rel_graph', graph_id: 'brandlift5', label_abs: '件', label_rel: '%', graph_title: 'YouTube検索ヒット数',
        brand: brand, chart_data_abs: brand.brandlift_per_date(@brandlift_params, 5), chart_data_rel: brand.brandlift_per_date(@brandlift_params, 5, relative: true), posts_per_date: brand.posts_per_date(@brandlift_params),
        talk_posts_per_date: brand.talk_posts_per_date(@brandlift_params), type: 'line' %>
    </div>
    <div class="col-xl-5 mb-4">
      <%= render 'abs_rel_graph', graph_id: 'brandlift6', label_abs: '件', label_rel: '%', graph_title: 'YouTube 検索ヒット数増減',
        brand: brand, chart_data_abs: brand.brandlift_per_date(@brandlift_params, 5, increment: true), chart_data_rel: brand.brandlift_per_date(@brandlift_params, 5, relative: true, increment: true), posts_per_date: brand.posts_per_date(@brandlift_params),
        talk_posts_per_date: brand.talk_posts_per_date(@brandlift_params), type: 'bar' %>
    </div>
  </div>

  <div class="row mb-2 justify-content-around p-2">
    <div class="col-xl-5 mb-4">
      <%= render 'abs_rel_graph', graph_id: 'brandlift7', label_abs: '人', label_rel: '%', graph_title: 'Instagramフォロワー数',
        brand: brand, chart_data_abs: brand.brandlift_per_date(@brandlift_params, 6), chart_data_rel: brand.brandlift_per_date(@brandlift_params, 6, relative: true), posts_per_date: brand.posts_per_date(@brandlift_params),
        talk_posts_per_date: brand.talk_posts_per_date(@brandlift_params), type: 'line' %>
    </div>
    <div class="col-xl-5 mb-4">
      <%= render 'abs_rel_graph', graph_id: 'brandlift8', label_abs: '人', label_rel: '%', graph_title: 'Instagramフォロワー数増減',
        brand: brand, chart_data_abs: brand.brandlift_per_date(@brandlift_params, 6, increment: true), chart_data_rel: brand.brandlift_per_date(@brandlift_params, 6, relative: true, increment: true), posts_per_date: brand.posts_per_date(@brandlift_params),
        talk_posts_per_date: brand.talk_posts_per_date(@brandlift_params), type: 'bar' %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'brands/brandlift_graph' %>
