<% talk_post_contents.each do |talk_post_content| %>
<%= content_tag(:tr,'',onclick: "window.open('#{talk_post_path(talk_post_content.talk_post.id)}');" ,style: 'cursor: pointer;' ) do %>
  <% if controller.controller_name == 'talk_posts' || controller.controller_name == 'brands' %>
    <td>
      <p class="text-left ml-2">
        <%= link_to talk_post_content.brand.name, brand_path(talk_post_content.brand), style: 'white-space:normal;' %>
        <%= link_to talk_post_content.market&.name, talk_posts_path(market_id: talk_post_content.brand.market_id), class: "badge badge-primary ml-1" %>
      </p>
      <div class="media align-items-center ml-2">
        <span class="avatar rounded-circle mr-2">
          <%#一旦、icon_s3がNULLの場合もダミー画像を表示するようにしている。%>
          <%= link_to (image_tag talk_post_content.account.icon_s3 || 'https://picsum.photos/250/250'), account_path(talk_post_content.account) %>
        </span>
        <span class="name mb-0 text-sm">
          <%= link_to talk_post_content.account.name, account_path(talk_post_content.account) %>
          <% if @favorite_account_ids.include?(talk_post_content.account.id) %>
            <i class="fas fa-star ml-1" style="color: gold"></i>
          <% end %>
        </span>
      </div>
    </td>
  <% end %>
  <td>
    <%#一旦、content_urlがNULLの場合もダミー画像を表示するようにしている。%>
    <div style="overflow-x: auto;" class="align-items-top d-flex">
      <%# TODO: カルーセルだと分かるような表示方法を %>
      <% talk_post_content.talk_post.talk_post_contents.group(:raw_post_id).order(:id).each do |content| %>
        <div class="d-inline-block m-1">
          <div class="mb-3">
            <%= display_talk_post_type content.post_type, talk_posts_path(post_type: content.post_type) %>
          </div>
          <div class="position-relative">
            <%= display_thumbnail content %>
            <% if content.post_type=='video' %> <%# FIXME: 投稿タイプのハードコーディング %>
              <i class="position-absolute m-1 fas fa-play-circle badge badge-warning opacity-8" style="font-size: 2rem; top: 0; left: 0;"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </td>
  <td>
   <p class="text-left"><i class="far fa-calendar-alt fa-fw" style="color:#8965e0;"></i> 投稿日時：</p>
   <p><%= l(talk_post_content.posted_at, format: :long) %></p>
  </td>
<% end %>
<% end %>

<%= javascript_pack_tag 'table_link_stop_propagation' %>
