<!-- Topnav -->
<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-dark bg-primary mb-0">
          <li class="breadcrumb-item"><%= link_to "Top", root_path %></li>
          <% @pankuzu&.each do |pan| %>
            <li class="breadcrumb-item active"><%= link_to pan[:text], pan[:href], class: pan[:class] %></li>
          <% end %>
        </ol>
      </nav>

      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center  ml-md-auto ">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
        <li class="nav-item dropdown">
          <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <div class="media-body  ml-2  d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold"><%= current_user.name %> 様</span>
              </div>
            </div>
          </a>

          <div class="dropdown-menu  dropdown-menu-right ">
            <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
              <i class="fas fa-user fa-fw"></i> 登録情報変更
            <% end %>
            <%= button_to destroy_user_session_path, class: 'dropdown-item', method: :delete do %>
              <i class="fas fa-sign-out-alt fa-fw"></i> ログアウト
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
