<tr>
  <%= content_tag :td, render("favorite_button", account: account, is_account_show: 'false') ,class: "favorite_link" unless controller.controller_name == 'top'%>
  <%= content_tag(:td,'',onclick: "window.open('#{account_path(account.id)}');",style: 'cursor: pointer;') do %>
    <%= link_to account.media, accounts_path(media: account.media), class: "#{account.media}_btn btn btn-sm" %>
  <% end %>

  <%= content_tag(:td,'',onclick: "window.open('#{account_path(account.id)}');",style: 'cursor: pointer;') do %>
    <div class="row">
      <div class="col-12 text-center">
        <span class="avatar rounded-circle">
          <%= image_tag account.icon_s3 || 'https://picsum.photos/250/250' %>
        </span>
      </div>
      <div class="col-12 text-center">
        <%= content_tag :span, account.name, class: "name text-sm", style: "white-space: normal;" %></div>
    </div>
  <% end %>

  <%= content_tag(:td,'',onclick: "window.open('#{account_path(account.id)}');",style: 'cursor: pointer;') do %>
    <div class="mb-2">
      <%= link_to account.brand.market&.name, accounts_path(market_id: account.brand.market_id), class: "btn btn-sm btn-secondary" %>
    </div>
    <div>
      <%= external_link_to account.brand.name, brand_path(account.brand), class: "name text-sm", style: "white-space: normal;"%>
    </div>
    <%= content_tag :p, "運営元: #{account.brand.company.name}", class: "name text-sm", style: "white-space: normal; display: inline-block; margin:auto;" %>
  <% end %>

  <%#最新投稿日%>
  <%= content_tag(:td,'',onclick: "window.open('#{account_path(account.id)}');" ,style: 'cursor: pointer;') do %>
    <%= l(account.max_posted_at, format: :long) if account.max_posted_at %>
  <% end %>

  <%#投稿数%>
  <%= content_tag(:td,'',onclick: "window.open('#{account_path(account.id)}');",style: 'cursor: pointer;') do %>
    <%= account.post_increment.present? ? account.post_increment.to_s(:delimited) : '-' %>
  <% end %>

  <%#反応数/反応数増加率%>
  <%= content_tag(:td,'',onclick: "window.open('#{account_path(account.id)}');",style: 'cursor: pointer;') do %>
    <% unless controller.controller_name == 'top' %>
      <div>増加数: <%= account.total_reaction_increment.present? ? account.total_reaction_increment.to_s(:delimited) : '-' %></div>
      <div>増加率: <%= "#{account.total_reaction_increment_rate}%" %></div>
    <% else %>
      <%= account.total_reaction_increment.present? ? account.total_reaction_increment.to_s(:delimited) : '-' %>
    <% end %>
  <% end %>

  <%#フォロワー増加数/増加率%>
  <%= content_tag(:td,'',onclick: "window.open('#{account_path(account.id)}');",style: 'cursor: pointer;') do %>
    <% unless controller.controller_name == 'top' %>
      <div>増加数: <%= account.follower_increment.present? ? account.follower_increment.to_s(:delimited)  : '-'%></div>
      <div>増加率: <%= "#{account.follower_increment_rate}%" %></div>
    <% else %>
      <%= account.follower_increment.present? ? account.follower_increment.to_s(:delimited)  : '-'%></div>
    <% end %>
  <% end %>
</tr>

<%= javascript_pack_tag 'table_link_stop_propagation' %>
