<%= form_with url: accounts_path, method: :get do |form| %>
  <%= hidden_field_tag :filter_form_open, true %>
  <div class="container accordion mt-3" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="<%= @filter_form_open %>" aria-controls="collapseTwo">
          <span class="d-inline-block mb-0 px-4 h3">絞り込みフォーム</span>
        </div>
        <%= content_tag(:div, id: 'collapseTwo', class: "collapse #{'show' if @filter_form_open}", aria: {labelledby: 'headingTwo'}, data: {parent: '#accordionExample'}) do %>
        <div class="card-body">
          <div class="row pr-4 py-2">
              <div class="col pl-0">
                <%= render "filter_elements/account", form: form%>
                <%= render "filter_elements/market", form: form, market_list: fetch_market_list %>
                <%= render "filter_elements/media",   form: form, media_list: %w(LINE Instagram Twitter Facebook) %>
                <%= render "filter_elements/sort",    form: form, sort_list: {投稿数: 'post_increment', 反応数: 'total_reaction_increment', フォロワー増加数: 'follower_increment', フォロワー増加率: 'follower_increment_rate', 最新投稿日: 'max_posted_at' } %>
              </div>
              <div class="col pl-0">
                <%= render "filter_elements/aggregation_period", form: form %>
                <%= render "filter_elements/is_favorites", form: form %>
              </div>
          </div>
          <div class="row px-4 justify-content-end">
            <%= form.submit "絞り込み", class: "btn btn-primary btn-filter-form mr-3", name: nil %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
<% end %>
