<div class="m-3">
  <ul class="nav nav-pills nav-fill justify-content-start align-items-end">
    <li class="mr-auto">
      <div class="badge badge-default my-2 mr-2"><%= @account.brand.market.name %></div>
      <div class="text-left h1 mb-0"><%= @account.brand.name %></div>
    </li>
    <% @account.brand.accounts.each do |account| %>
    <li>
      <% if @account == account %>
      <% color_style = "#{account.media}_btn" %>
      <% else %>
      <% color_style = "#{account.media}_color" %>
      <% end %>
      <%= link_to account.media, account_path(account), class:"btn-sns-form nav-link #{color_style} text-center" %>
    </li>
    <% end %>
    <li>
      <%= link_to 'ブランドTOPIX', brand_path(@account.brand), class:"nav-link text-center", style:"margin: 10px 15px;" %>
    </li>
  </ul>
</div>

<div class="card">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-3 pl-4">
        <img src=<%= @account.icon_s3 %> class="rounded-circle shadow shadow-lg--hover" style="width: 60%;">
      </div>
      <div class="col-7">
        <h3><%= @account.name %></h3>
        <h5 class="font-weight-light text-muted">
            <span class="mr-4">投稿数：<%= @account.latest_engagement&.post_count&.to_s(:delimited) %></span>
          <% if @account.media == 'LINE' %>
            <span class="mr-4">友だち数：<%= @account.latest_engagement&.follower&.to_s(:delimited) %></span>
            <span class="mr-4">フォロワー数：<%= @account.latest_engagement&.line_follower&.to_s(:delimited) %></span>
            <span class="mr-0">反応数：<%= @account.latest_engagement&.total_reaction&.to_s(:delimited) %></span>
          <% else %>
            <span class="mr-4">フォロワー数：<%= @account.latest_engagement&.follower&.to_s(:delimited) %></span>
          <% end %>
        </h5>
        <h5 class="text-muted font-weight-light"><%= @account.screen_name %><br><%= @account.latest_introduction %></h5>
        <h5>運営元：<%= @account.company.name %></h5>
        <div id=<%="favorite_#{@account.id}" %> class="mt-2">
          <%= render "favorite_button", account: @account, is_account_show: 'true' %>
        </div>
      </div>
    </div>
  </div>
</div>
<%# フォロワー数グラフ %>
<%= render 'follower_transition', account: @account, follower_per_date: @follower_per_date, follower_per_date_rel: @follower_per_date_rel, follower_increment_per_date: @follower_increment_per_date, follower_increment_per_date_rel: @follower_increment_per_date_rel, posts_per_date: @posts_per_date, talk_posts_per_date: @talk_posts_per_date %>
<%# タブ %>
<%# LINEのときのみタブを表示 %>
<% if @account.media == 'LINE' %>
  <%= render 'accounts/tabs/tab_main', account: @account, posts: @posts, talk_post_contents: @talk_post_contents, rich_menus: @rich_menus %>
<% else %>
<div class="card card-body" id="tab-navigation_account">
  <%= render 'accounts/tabs/post_index_tab', account: @account, posts: @posts %>
</div>
<% end %>
